<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="Index" asp-controller="Ofertas">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                        Entrada
                    </h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="Index" asp-controller="Despesa">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                        Saida
                    </h3>
                </div>
            </div>
        </a>
    </div>
</div>

    <h1>@ViewBag.Saldo</h1>
    <h1>@ViewBag.Despesa</h1>
