<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="Index" asp-controller="Culto">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                        Cultos
                    </h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="Index" asp-controller="Cargos">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                        Cargos
                    </h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="Index" asp-controller="CategoriaDespesa">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                        Categoria Despesa
                    </h3>
                </div>
            </div>
        </a>
    </div> <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="Index" asp-controller="Igrejas">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                        Igrejas
                    </h3>
                </div>
            </div>
        </a>
    </div>
</div>