<div class="card-body tabelaaniversariantes">
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            <table class="table">
                <thead class=" text-primary">
                    <tr>
                        <th>
                           Nome
                        </th>
                        <th>
                            Data Nascimento
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="linha">
                        <td>JOSE DE SOUZA</td>
                        <td>19 DE AGOSTO DE 2020</td>
                        <td class="td-actions text-right">
                            <button type="button" asp-action="Detalhes" asp-controller="Membros" rel="tooltip" title="Detalhes" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">visibility</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>