@model Igreja.Com.Dominio.Entidades.Culto

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="dateTime" type="hidden" class="form-control" />
        <input asp-for="Id" type="hidden" class="form-control" />

        <div class="form-group">
            <label class="control-label">Dirigente do Culto</label>
            <input asp-for="MembroId" type="search" list="listMembro" class="form-control" />
            <datalist id="listMembro">
                @foreach (var item in ViewBag.Membros)
                {
                    <option value="@item.Value"></option>

                }
            </datalist>
            <span asp-validation-for="MembroId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Culto de...</label>
            <input asp-for="CategoriaCultoId" type="search" list="listCulto" class="form-control" />
            <datalist id="listCulto">
                @foreach (var item in ViewBag.CategoriaCulto)
                {
                    <option value="@item.Value">@item.Text</option>

                }
            </datalist>
            <span asp-validation-for="CategoriaCultoId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="button" value="Incluir Culto" class="btn btn-primary" onclick="ObjetoIgreja.SalvarCulto()" />
        </div>
    </form>

