
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Entradas do Culto:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab">
                                    <i class="material-icons">bug_report</i> Culto
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item" onclick="ObjetoSistema.IncluirNovousuario()">
                                <a class="nav-link" data-toggle="tab">
                                    <i class="material-icons">code</i> Ofertas
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item"  onclick="ObjetoDizimos.CarregarFormulario()">
                                <a class="nav-link" data-toggle="tab">
                                    <i class="material-icons">cloud</i> Dizimos
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-pane active" id="profile">
                    
                    <table class="table">
                        <tbody id="tabelaUsuario"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
            